{% extends 'base.html' %}

{% block title %}
	Reset Password
{% endblock %}

{% block main %}
<div class="min-h-screen flex justify-center items-center bg-red-100">
    <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-xl">

        <!-- HEADER -->
        <div class="text-center mb-6">
            <h1 class="text-2xl font-bold text-gray-800">
                Reset Password
            </h1>
            <p class="text-sm text-gray-500 mt-1">
                Enter your new password
            </p>
        </div>
        <!-- FORM -->
        <form method="post" id="reset-form" class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">
                    New Password
                </label>
                <input
                    type="password"
                    name="password"
                    required
                    class="w-full border rounded-md mt-1 px-3  py-2
                    focus:outline-none focus:ring-2 focus:ring-blue-500"
                >
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">
                    Confirm Password
                </label>
                <input
                    type="password"
                    name="password_confirm"
                    required
                    class="w-full border rounded-md mt-1 px-3  py-2
                    focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>


            <button
                type="submit"
                class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition"
            >
                Reset password
            </button>
        </form>

    </div>
</div>
<script>
    const form = document.getElementById("reset-form");

    const params = new URLSearchParams(window.location.search);
    const token = params.get("token");

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const resetUrl = "{{ url_for('reset_password_confirm') }}";

        const password = form.password.value;
        const password_confirm = form.password_confirm.value;

        if (password !== password_confirm) {
            alert("Passwords do not match");
            return;
        }
        const response = await fetch(resetUrl, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                token: token,
                new_password: password,
            })
        });

        if (response.ok) {
            alert("Password successfully reset");
        } else {
            alert( "Error resetting password");
        }
    });
</script>

{% endblock %}
